div {
    width: 100px;
    height: 100px;
    background-color: purple;
    /* margin-bottom: 5px; */
    display: inline-block;
}
.hidden {
    visibility: hidden;
}
.container {
    width: 600px;
    height: auto;
    background-color: transparent;
}