body {
    margin: 0px;
}

nav {
    background-color: black;
    color: white;
}

a {
    color: white;
}

nav {
    text-align: right;
    height: 50px;
    padding: 20px;
}

nav ul {
    /* margin: 10px; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav img {
    float: left;
    height: 50px;
}
nav ul li {
    position: relative;
}
nav ul li ul.dropdown {
    background-color: red;
    display: grid;
    position: absolute;
    left: -10px;
    top: 25px;
    text-decoration: none;
    list-style-type: none;
    display: none;
    margin: 0px;
}
nav ul li:hover ul.dropdown {
    display: grid;
}