.image-container {
    background-color: green;
}

.image-container img {
    width: 10%;
    height: auto;
}

.daddy-box {
    background-color: gold;
    width: 600px;
    height: 600px;
}
.baby-box {
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
    float: left;
}
.green {
    background-color: green;
    float: left;
}
.blue {
    background-color: blue;
    float: left;
    clear: left;
}
.orange {
    background-color: orange;
    float: left;
    clear: left;
}
.pink {
    background-color: black;
    width: 110px;
    height: 110px;
}